!target_modules.txt
vanilla_rootfs
*.cap
kernels/*
!kernels/.gitkeep
toolchains/*
!toolchains/.gitkeep
output/*
!output/.gitkeep
tags
.vscode
.dockerfile_hash
kernel_debs
kernel_archive/*
!kernel_archive/.gitkeep

__pycache__
.cache/
scripts/rootfs/
