*.tbz2
robot_*
!robot_image_manager.sh
certs
jetson_bsp
*.deb
*.csv
cartken_flash
*.tar.gz
*.iso
ubuntu_iso_work
*.txt
!chroot_setup_commands_jp5.txt
!chroot_setup_commands_jp6.txt
!chroot_configured_commands.txt
!essential_chroot_setup_commands.txt
*.ko
5.1.*
6*
*.log
.wget-hsts
